<h1>Hellow world from page {{pageNumber}}</h1>

<div class="control_wrapper">
    <mat-slider
        [max]="100"
        [min]="0"
        [step]="1"
        [discrete]="true">
        <input matSliderThumb [(ngModel)]="sliderValue">
    </mat-slider>
    <h2>Value of slider: {{sliderValue}}</h2>
</div>

<div class="control_wrapper">
    <mat-checkbox 
    *ngFor="let option of checkboxOptions" 
    [color]="option.color"
    [(ngModel)]="option.checked"
    >{{option.name}}</mat-checkbox>
    
    <div>
        <h2>Selected values:</h2>
        <div *ngFor="let option of checkboxOptions">
            <p *ngIf="option.checked">{{option.name}}</p>
        </div>
    </div>
</div>

