<ng-container [formGroup]='parentForm'>
    <div formArrayName="addresses">
        <div *ngFor="let group of addressesArray.controls; let i = index">
            <div class="address-title">
                <span>Address</span>&nbsp;  
                <ng-container *ngIf="addressesArray.controls.length > 1">
                    <span>{{i+1}}</span>
                    <button
                        class="address-remove" 
                        mat-icon-button 
                        (click)="$event.preventDefault(); removeAddressGroup(i)"
                    ><mat-icon color="warn">cancel</mat-icon>
                    </button>
                </ng-container>
            </div>

            <div [formGroupName]="i">
                <mat-form-field>
                    <mat-label>Address line</mat-label>
                    <input matInput formControlName="addressLine" />
                </mat-form-field>
                <app-validation-error 
                    [control]="group.get('addressLine')"
                    [controlName]="'Address line'"
                ></app-validation-error>

                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input 
                        matInput 
                        formControlName="city" 
                        (input)="updateZipValidation($event, group.get('zip')!)"
                    />
                </mat-form-field>
                <app-validation-error 
                    [control]="group.get('city')"
                    [controlName]="'City'"
                ></app-validation-error>
        
                <mat-form-field>
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip" />
                </mat-form-field>
                <app-validation-error 
                    [control]="group.get('zip')"
                    [controlName]="'Zip'"
                ></app-validation-error>
            </div>
        </div>
        <button 
            mat-icon-button
            matTooltip="Add new address" 
            (click)="$event.preventDefault(); addAddressGroup()" 
        ><mat-icon>add_circle</mat-icon>
        </button>
    </div>
</ng-container>