@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    @include commonFormPage;
}

form {
    @include commonForm;
}

h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

h2 {
    margin: 0;
}