<ng-container *ngIf="user">
    <h1>
        <app-user-full-name [user]="user"></app-user-full-name>
    </h1>
    <img [src]="user.imageUrl" alt="">
</ng-container>


<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a 
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
    </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>



