<mat-toolbar color="primary">
    <ng-container *ngIf="currentUser; else titleBlock">
        <div class="current-user" [matMenuTriggerFor]="profileMenu">
            <img src="../../../../../assets/random_user_image.jpg" alt="">
            <h2>{{currentUser}}</h2>
        </div>
        <mat-menu #profileMenu>
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
    </ng-container>

    <ng-template #titleBlock>
        <span>Welcome to {{ title | uppercase }}!</span>
    </ng-template>
    

    <div class="menu">
        <ng-container *ngIf="!currentUser; else menuBlock">
            <button mat-button routerLink="login">Log In</button>
            <button mat-button routerLink="signup">Sign Up</button>
        </ng-container>

        <ng-template #menuBlock>
            <button mat-button routerLink="">Home</button>
            <button mat-button routerLink="cars">Cars</button>
            <button 
                mat-button 
                [matMenuTriggerFor]="menu"
            >Users</button>
            
            <mat-menu #menu>
                <button mat-menu-item routerLink="users">User List</button>
                <button mat-menu-item routerLink="users/add">Add new user</button>
            </mat-menu>
        </ng-template>
    </div>

</mat-toolbar>
