<app-user-list 
    [users]="users" 
    [favoriteUsers]="favoriteUsers"
    (favoriteChanged)="changeFavorite($event)"
    (editClicked)="openEditorPage($event)"
></app-user-list>

<app-favorite-list
    [title]="'Users'"
>
        <ng-container *ngFor="let user of favoriteUsers">

            <app-card
                class="favorite-item"
                (favoriteChanged)="changeFavorite(user)"
                [isFavorite]="true"
            >
                <span titleData>
                    {{ user.firstName + " " + user.lastName }}
                    <strong class="titleData"> ({{ user.age }} y.o.) </strong>
                </span>

            </app-card>

        </ng-container>

</app-favorite-list>
