<mat-toolbar color="primary">
  <span>Welcome to {{title | uppercase}}!</span>
</mat-toolbar>

<div class="container"> 
  <div class="page-controller">
    <mat-form-field>
        <mat-select placeholder="Choose a page">
            <mat-option routerLink="tabs-form" value="1">Tabs Form page (1)</mat-option>
            <mat-option routerLink="interaction" value="2">Interaction page (2)</mat-option>
        </mat-select>
    </mat-form-field>
  </div> 
  <router-outlet></router-outlet>
</div>

<footer>
  rokkky
</footer>