@import './styles/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    background: $primaryColor;
    color: #fff;
    padding: $baseSize $baseSize*3;
}

