@import '../../../../styles/variables';

:host {
    width: 50%;
    padding: 0 $baseSize*2 $baseSize*3;
}

.titleData {
    color: $primaryColor;
}

.user-info div {
    padding: $baseSize*1.5 0;
}

p {
    margin: 0;
}

i {
    color: rgb(97, 97, 97);
}