@import '../../../../styles/variables';

:host {
    width: 100%;
    text-align: center;
    border-radius: $baseBorder;
    box-shadow: 4px 4px 18px 0px #683ab75e;
}

h1 {
    color: $primaryColor;
    font-weight: 500;
}