@import '../../../../styles/variables';

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.group-container {
    display: flex;
    mat-form-field {
        width: 100%;
    }
}

mat-radio-group {
    text-align: center;
    padding-bottom: $baseSize*2;
}