@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    @include commonFormPage;
}

form {
    @include commonForm;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

p {
    text-align: center;
    font-size: 15px;
    color: rgb(50, 50, 50);
    margin: $baseSize 0 0;
}

a {
    text-decoration: none;
    font-weight: 500;
}