@import '../../../../styles/variables';

.file-upload {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: $baseSize*3;
    button {
        margin-right: $baseSize*3;
    }
}