<div class="wrapper users-page-control">
    <app-search-field #seacrhfield (searchValueChanged)="findUsers($event)"></app-search-field>
    <button 
        mat-raised-button
        color="primary"
        (click)="refreshUserList()"
    >REFRESH LIST</button>
    <button 
        mat-raised-button
        color="primary"
        (click)="exhaustRefreshUserList()"
    >REFRESH LIST (first)</button>
</div>

<div class="wrapper">
    <app-user-list 
        [users]="users" 
        [favoriteUsers]="favoriteUsers"
        (favoriteChanged)="changeFavorite($event)"
        (editClicked)="openEditorPage($event)"
        (excelExportClicked)="exportUserExcel($event)"
        (userExportClicked)="exportUser($event)"
    ></app-user-list>

    <app-favorite-list [title]="'Users'">
        <ng-container *ngFor="let user of favoriteUsers">

            <app-card
                class="favorite-item"
                (favoriteChanged)="changeFavorite(user)"
                (editClicked)="openEditorPage(user.id)"
                [isFavorite]="true"
            >
                <span titleData>
                    {{ user.firstName + " " + user.lastName }}
                    <strong class="titleData"> ({{ user.age }} y.o.) </strong>
                </span>

            </app-card>

        </ng-container>

    </app-favorite-list>
</div>
<mat-paginator 
    (page)="onPageChange($event)"
    [length]="paginationLimit"
    [pageSizeOptions]="paginationOptions"
    [pageSize]="10"
></mat-paginator>
